body {
    background-image: url('Background.png');
    background-size: 1070px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}